# Direct Dependencies:

tornado==2.2.1
Elixir==0.7.1
dataset==0.6.2
requests==0.12.1
passlib==1.6
watchdog==0.6.0
cachelper==0.1.5

#pymongo==2.1.1 #v2.2 deprecates pymongo.json_util in favor of bson.json_util, which is apparently broken.
#mongoengine==0.6.10

pymunk==2.1.0

supervisor==3.0a12
supervisor-twiddler==0.4

raven==1.7.6
sentry==4.2.5
simplejson<2.5.0

mock==0.8

Sphinx==1.1.3
sphinxcontrib-httpdomain==1.1.7

cmd2==0.6.4

nose==1.3.7

# Indirect Dependencies:

BeautifulSoup==3.2.1
Django==1.2
Jinja2==2.8
MarkupSafe==0.23
PyYAML==3.11
Pygments==2.1.1
SQLAlchemy==0.7.10
South==1.0.2
Werkzeug==0.12.2
amqp==1.4.9
anyjson==0.3.3
argh==0.26.1
argparse==1.2.1
billiard==3.3.0.22
celery==3.1.20
certifi==2015.11.20.1
chardet==2.3.0
cssutils==1.0.1
distribute==0.6.25
django-celery==2.5.5
django-indexer==0.3.0
django-paging==0.2.5
django-picklefield==0.3.2
django-templatetag-sugar==1.0
docutils==0.12
gunicorn==0.13.4
kombu==3.0.33
logan==0.7.1
medusa==0.5.4
meld3==0.6.7
oauthlib==0.1.3
pathtools==0.1.2
pyasn1==0.1.9
pynliner==0.5.2
pyparsing==2.1.0
python-dateutil==1.5
pytz==2015.7
rsa==3.3
wsgiref==0.1.2
peewee==2.8.0
